<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- The Title -->
    <title>Arabic Language | Dana</title>
    <!-- Linking CSS -->
    <link rel="stylesheet" href="../../style/style.css">
    <link rel="stylesheet" href="../../style/ln-pages.css">

</head>
<body>
    <div class="container">
        <div id="navbar">
            <a href="../../index.html" style="color: #392f5a;">
                <img src="../../assets/Logo.png" alt="Logo" style="width: 125px; height: auto;">
            </a>
            <a href="../../index.html">Home</a>
            <a href="../about.html">About Us</a>
            <a href="../services.html">Services</a>
            <div class="dropdown">
                <button class="dropbtn">Languages</button>
                <div class="dropdown-content">
                    <a href="./arabic.html">Arabic</a>
                    <a href="./english.html">English</a>
                    <a href="./spanish.html">Spanish</a>
                    <a href="./turkish.html">Turkish</a>
                    <a href="./french.html">French</a>
                    <a href="./russian.html">Russian</a>
                    <a href="./chinese.html">Chinese </a>
                    <a href="./german.html">German</a>
                    <a href="./japanese.html">Japanese</a>
                    <a href="./portuguese.html">Portuguese</a>
                    <a href="./hindi.html">Hindi</a>
                    <a href="./bengali.html">Bengali</a>
                    <a href="./urdu.html">Urdu</a>
                    <a href="./punjabi.html">Punjabi</a>
                    <a href="./malay.html">Malay</a>
                    <a href="./Pilipina.html">Pilipina</a>
                </div>
            </div>
            <a href="../contact.html">Contact Us</a>
        </div>
    </div>

    <div class="container">
        <header>
            <h1>تعلم اللغة العربية في مركز دانا للغات</h1>
        </header>

        <section class="content">
            <div class="image">
                <img src="../../assets/languages/default-language.png" alt="">
            </div>
            <div class="description" dir="rtl">
                <h2>لماذا نتعلم اللغة العربية؟</h2>
                <p>
                    إن تعلم اللغة العربية يفتح الأبواب أمام اتصالات جديدة، مما يسمح لك بالتواصل مع أشخاص من خلفيات متنوعة. ومع انتشار اللغة العربية على نطاق واسع، فإنها توفر الفرصة لبناء شبكة واسعة. بالإضافة إلى ذلك، يعد إتقان اللغة العربية أمرًا ضروريًا للباحثين، حيث إنها اللغة الأساسية لكتابة الأوراق البحثية والمقالات العلمية عالميًا.</p>
                
                <p>تعلم اللغة العربية يعرّفك أيضًا على ثقافات مختلفة وعادات متنوعة ويتيح لك الاستمتاع بالأفلام والموسيقى والأدب من جميع أنحاء العالم. تسهل اللغة السفر، مما يسهل استكشاف بلدان متعددة وتبادل المعلومات مع الآخرين، نظرًا لاستخدامها على نطاق واسع كلغة أساسية أو ثانوية.</p>
                
                <p>إن إتقان اللغة العربية يزيد من فرص العمل، حيث أصبح مطلباً أساسياً للتوظيف. يقدم مركز دانا للغات فرصًا ممتازة لدراسة اللغة العربية مع مدرسين ذوي خبرة من خلال الأساليب وجهًا لوجه أو عبر الإنترنت. تغطي دوراتنا باللغة العربية المهارات اللغوية الأساسية مثل القراءة والكتابة والتحدث والاستماع، بمدة تدريب إجمالية تبلغ 180 ساعة</p>
                
                <h2>أين تتعلم اللغة العربية؟</h2>
                <p>يوفر مركز دانا للغات التابع للجامعة الأردنية فرصاً لدراسة اللغة العربية مع أفضل الكادر التدريسي. نحن نقدم طرقًا وجهًا لوجه وعبر الإنترنت في جميع الأوقات. يتكون برنامجنا باللغة العربية من ستة مستويات، تغطي جميع المهارات اللغوية الأساسية، بما في ذلك القراءة والكتابة والمحادثة والاستماع.</p>

                <p>يتضمن منهجنا دورات متقدمة مثل دروس المحادثة والدورات التحضيرية للامتحانات الدولية مثل TOEFL أو IELTS. منهجنا الدراسي، المسمى "أنا أكتشف"، معتمد من مركز دانا للغات للتعلم.</p>
            </div>
        </section>
    </div>

    <footer>
        &copy; 2024 Dana Language Center. All rights reserved.
    </footer>
</body>
</html>