<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- The Title -->
    <title>Bengali Language | Dana</title>
    <!-- Linking CSS -->
    <link rel="stylesheet" href="../../style/style.css">
    <link rel="stylesheet" href="../../style/ln-pages.css">
</head>
<body>
    <div class="container">
        <div id="navbar">
            <a href="../../index.html" style="color: #392f5a;">
                <img src="../../assets/Logo.png" alt="Logo" style="width: 125px; height: auto;">
            </a>
            <a href="../../index.html">Home</a>
            <a href="../about.html">About Us</a>
            <a href="../services.html">Services</a>
            <div class="dropdown">
                <button class="dropbtn">Languages</button>
                <div class="dropdown-content">
                    <a href="./arabic.html">Arabic</a>
                    <a href="./english.html">English</a>
                    <a href="./spanish.html">Spanish</a>
                    <a href="./turkish.html">Turkish</a>
                    <a href="./french.html">French</a>
                    <a href="./russian.html">Russian</a>
                    <a href="./chinese.html">Chinese </a>
                    <a href="./german.html">German</a>
                    <a href="./japanese.html">Japanese</a>
                    <a href="./portuguese.html">Portuguese</a>
                    <a href="./hindi.html">Hindi</a>
                    <a href="./bengali.html">Bengali</a>
                    <a href="./urdu.html">Urdu</a>
                    <a href="./punjabi.html">Punjabi</a>
                    <a href="./malay.html">Malay</a>
                    <a href="./Pilipina.html">Pilipina</a>
                </div>
            </div>
            <a href="../contact.html">Contact Us</a>
        </div>
    </div>
    <div class="container">
        <header>
            <h1>ডানা ভাষা কেন্দ্রে আরবি শেখা</h1>
        </header>
    
        <section class="content">
            <div class="image">
                <img src="../../assets/languages/default-language.png" alt="">
            </div>
            <div class="description">
                <h2>কেন আরবি শেখা?</h2>
                <p>আরবি শেখা নতুন সংযোগ উৎপন্ন করে, আপনাকে বিভিন্ন পৃষ্ঠভূমি থেকে মানুষের সাথে যোগাযোগ করতে অনুমতি দেয়। আরবি প্রচুরভাবে বলা হয়, এটি একটি ব্যাপক নেটওয়ার্ক তৈরি করার সুযোগ দেয়। এছাড়া, এটি গ্লোবালভাবে গবেষণা প্রবন্ধ এবং বৈজ্ঞানিক নিবন্ধ লেখার জন্য মৌলিক ভাষা হিসেবে গুরুত্বপূর্ণ।</p>
    
                <p>আরবি শেখা আপনাকে বিভিন্ন সাংস্কৃতিক, বিবিধ পর্মেশ্বর, এবং বিশ্বভরের চলচ্চিত্র, সঙ্গীত, এবং সাহিত্য উপভোগ করতে অনুমতি দেয়। এই ভাষা ভ্রমণ সহজ করে দেয়, এটির প্রচুর ব্যবহারের কারণে এটি মৌলিক বা দ্বিতীয় ভাষা হিসেবে।</p>
    
                <p>আরবি দক্ষতা চাকরির সুযোগ বাড়ায়, কারণ এটি চাকরির জন্য একটি মৌলিক আবশ্যকতা হয়ে গিয়েছে। ডানা ভাষা কেন্দ্র অভিজ্ঞ শিক্ষকদের সাথে এরকম সমৃদ্ধ আরবি শেখা সুযোগ প্রদান করে যা মুখোমুখি এবং অনলাইন উভয় পদ্ধতিতে সাক্ষাত্কার করে। আমাদের আরবি কোর্সগুলি পড়তে, লেখতে, কথা বলতে, এবং শোনতে এমন প্রধান ভাষা দক্ষতা প্রদান করে যা মোট প্রশিক্ষণ সময় ১৮০ ঘণ্টা।</p>
    
                <h2>কোথায় আরবি শেখা?</h2>
                <p>জর্ডান বিশ্ববিদ্যালয়ে সংলগ্ন ডানা ভাষা কেন্দ্র, শ্রেষ্ঠ শিক্ষক দলের সাথে আরবি পড়া সুযোগ প্রদান করে। আমরা সর্বদা একই সময়ে মুখোমুখি এবং অনলাইন পদ্ধতিতে সমৃদ্ধ আরবি কর্স প্রদান করি। আমাদের আরবি প্রোগ্রাম ছয়টি স্তর থাকে, যা পড়তে, লেখতে, কথা বলতে, এবং শোনতে সমস্ত মৌলিক ভাষা দক্ষতা শাখানি করে।</p>
    
                <p>আমাদের পাঠযোজনা উন্নত ক্লাস সহ আন্তর্জাতিক পরীক্ষা প্রস্তুতির জন্য সহায়ক কোর্সসহ যেগুলি সমাহিত হয়েছে, তা হল TOEFL বা IELTS। আমাদের পাঠযোজনা, "I DISCOVER," হল ডানা ভাষা কেন্দ্র দ্বারা অনুমোদিত একটি সিলেবাস।</p>
            </div>
        </section>
    </div>
    <footer>
        &copy; 2024 Dana Language Center. All rights reserved.
    </footer>
    
</body>
</html>