<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- The Title -->
    <title>Chinese Language | Dana</title>
    <!-- Linking CSS -->
    <link rel="stylesheet" href="../../style/style.css">
    <link rel="stylesheet" href="../../style/ln-pages.css">
</head>
<body>
    <div class="container">
        <div id="navbar">
            <a href="../../index.html" style="color: #392f5a;">
                <img src="../../assets/Logo.png" alt="Logo" style="width: 125px; height: auto;">
            </a>
            <a href="../../index.html">Home</a>
            <a href="../about.html">About Us</a>
            <a href="../services.html">Services</a>
            <div class="dropdown">
                <button class="dropbtn">Languages</button>
                <div class="dropdown-content">
                    <a href="./arabic.html">Arabic</a>
                    <a href="./english.html">English</a>
                    <a href="./spanish.html">Spanish</a>
                    <a href="./turkish.html">Turkish</a>
                    <a href="./french.html">French</a>
                    <a href="./russian.html">Russian</a>
                    <a href="./chinese.html">Chinese </a>
                    <a href="./german.html">German</a>
                    <a href="./japanese.html">Japanese</a>
                    <a href="./portuguese.html">Portuguese</a>
                    <a href="./hindi.html">Hindi</a>
                    <a href="./bengali.html">Bengali</a>
                    <a href="./urdu.html">Urdu</a>
                    <a href="./punjabi.html">Punjabi</a>
                    <a href="./malay.html">Malay</a>
                    <a href="./Pilipina.html">Pilipina</a>
                </div>
            </div>
            <a href="../contact.html">Contact Us</a>
        </div>
    </div>
    <div class="container">
        <header>
            <h1>在达纳语言中心学习阿拉伯语</h1>
        </header>
    
        <section class="content">
            <div class="image">
                <img src="../../assets/languages/china.webp" alt="">
            </div>
            <div class="description">
                <h2>为什么学习阿拉伯语？</h2>
                <p>学习阿拉伯语打开了与来自不同背景的人沟通的新大门，使您有机会与各种各样的人建立联系。由于阿拉伯语的广泛使用，它提供了建立广泛网络的机会。此外，精通阿拉伯语对研究人员至关重要，因为它是全球撰写研究论文和科学文章的主要语言。</p>
    
                <p>学习阿拉伯语还让您了解不同的文化、多样的习俗，并使您能够欣赏来自世界各地的电影、音乐和文学。该语言有助于旅行，使探索多个国家并与他人交流变得更加容易，因为它作为主要或次要语言被广泛使用。</p>
    
                <p>阿拉伯语的熟练掌握增加了就业机会，因为它已成为就业的基本要求。达纳语言中心通过面对面和在线两种方法提供与经验丰富的教师学习阿拉伯语的绝佳机会。我们的阿拉伯语课程涵盖阅读、写作、口语和听力等基本语言技能，总培训时长为180小时。</p>
    
                <h2>在哪里学习阿拉伯语？</h2>
                <p>达纳语言中心，隶属于约旦大学，为学习阿拉伯语提供了与最优秀的教学团队学习的机会。我们随时提供面对面和在线两种方法。我们的阿拉伯语项目包括六个级别，涵盖所有基本语言技能，包括阅读、写作、对话和听力。</p>
    
                <p>我们的课程包括高级课程，如会话课程和托福或雅思的考前课程。我们的课程名为I DISCOVER，是由达纳语言中心认可的学习课程。</p>
            </div>
        </section>
    </div>
    <footer>
        &copy; 2024 Dana Language Center. All rights reserved.
    </footer>
    
</body>
</html>