<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- The Title -->
    <title>English Language | Dana</title>
    <!-- Linking CSS -->
    <link rel="stylesheet" href="../../style/style.css">
    <link rel="stylesheet" href="../../style/ln-pages.css">
</head>
<body>
    <div class="container">
        <div id="navbar">
            <a href="../../index.html" style="color: #392f5a;">
                <img src="../../assets/Logo.png" alt="Logo" style="width: 125px; height: auto;">
            </a>
            <a href="../../index.html">Home</a>
            <a href="../about.html">About Us</a>
            <a href="../services.html">Services</a>
            <div class="dropdown">
                <button class="dropbtn">Languages</button>
                <div class="dropdown-content">
                    <a href="./arabic.html">Arabic</a>
                    <a href="./english.html">English</a>
                    <a href="./spanish.html">Spanish</a>
                    <a href="./turkish.html">Turkish</a>
                    <a href="./french.html">French</a>
                    <a href="./russian.html">Russian</a>
                    <a href="./chinese.html">Chinese </a>
                    <a href="./german.html">German</a>
                    <a href="./japanese.html">Japanese</a>
                    <a href="./portuguese.html">Portuguese</a>
                    <a href="./hindi.html">Hindi</a>
                    <a href="./bengali.html">Bengali</a>
                    <a href="./urdu.html">Urdu</a>
                    <a href="./punjabi.html">Punjabi</a>
                    <a href="./malay.html">Malay</a>
                    <a href="./Pilipina.html">Pilipina</a>
                </div>
            </div>
            <a href="../contact.html">Contact Us</a>
        </div>
    </div>
    <div class="container">
        <header>
            <h1>Learn English at Dana Language Center</h1>
        </header>
    
        <section class="content">
            <div class="image">
                <img src="../../assets/languages/english.webp" alt="">
            </div>
            <div class="description">
                <h2>Why Learn English?</h2>
                <p>Learning English opens doors to new connections, allowing you to communicate with people from diverse backgrounds. With English being widely spoken, it provides the opportunity to build a broad network. Additionally, mastering English is essential for researchers, as it is the primary language for writing research papers and scientific articles globally.</p>
    
                <p>Learning English also introduces you to different cultures, diverse customs, and allows you to enjoy films, music, and literature from around the world. The language facilitates travel, making it easier to explore multiple countries and exchange information with others, given its widespread use as either a primary or secondary language.</p>
    
                <p>Proficiency in English increases job opportunities, as it has become a fundamental requirement for employment. Dana Language Center offers excellent opportunities to study English with experienced instructors through both face-to-face and online methods. Our English courses cover essential language skills such as reading, writing, speaking, and listening, with a total training duration of 180 hours.</p>
    
                <h2>Where to Learn English?</h2>
                <p>Dana Language Center, affiliated with the University of Jordan, provides opportunities to study English with the best teaching staff. We offer both face-to-face and online methods at all times. Our English program consists of six levels, covering all fundamental language skills, including reading, writing, conversation, and listening.</p>
    
                <p>Our curriculum includes advanced courses such as conversation classes and preparatory courses for international exams like TOEFL or IELTS. Our curriculum, named I DISCOVER, is endorsed by Dana Languages Center for learning.</p>
            </div>
        </section>
    </div>
    <footer>
        &copy; 2024 Dana Language Center. All rights reserved.
    </footer>
    
</body>
</html>