<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- The Title -->
    <title>German Language | Dana</title>
    <!-- Linking CSS -->
    <link rel="stylesheet" href="../../style/style.css">
    <link rel="stylesheet" href="../../style/ln-pages.css">
</head>
    <div class="container">
        <div id="navbar">
            <a href="../../index.html" style="color: #392f5a;">
                <img src="../../assets/Logo.png" alt="Logo" style="width: 125px; height: auto;">
            </a>
            <a href="../../index.html">Home</a>
            <a href="../about.html">About Us</a>
            <a href="../services.html">Services</a>
            <div class="dropdown">
                <button class="dropbtn">Languages</button>
                <div class="dropdown-content">
                    <a href="./arabic.html">Arabic</a>
                    <a href="./english.html">English</a>
                    <a href="./spanish.html">Spanish</a>
                    <a href="./turkish.html">Turkish</a>
                    <a href="./french.html">French</a>
                    <a href="./russian.html">Russian</a>
                    <a href="./chinese.html">Chinese </a>
                    <a href="./german.html">German</a>
                    <a href="./japanese.html">Japanese</a>
                    <a href="./portuguese.html">Portuguese</a>
                    <a href="./hindi.html">Hindi</a>
                    <a href="./bengali.html">Bengali</a>
                    <a href="./urdu.html">Urdu</a>
                    <a href="./punjabi.html">Punjabi</a>
                    <a href="./malay.html">Malay</a>
                    <a href="./Pilipina.html">Pilipina</a>
                </div>
            </div>
            <a href="../contact.html">Contact Us</a>
        </div>
    </div>
    <div class="container">
        <header>
            <h1>Lernen Sie Deutsch im Dana Language Center</h1>
        </header>
    
        <section class="content">
            <div class="image">
                <img src="../../assets/languages/germany.webp" alt="">
            </div>
            <div class="description">
                <h2>Warum Deutsch lernen?</h2>
                <p>Das Erlernen der Deutschen Sprache öffnet Türen zu neuen Verbindungen und ermöglicht es Ihnen, mit Menschen aus verschiedenen Hintergründen zu kommunizieren. Da Deutsch weit verbreitet ist, bietet es die Möglichkeit, ein breites Netzwerk aufzubauen. Darüber hinaus ist die Beherrschung der Deutschen Sprache für Forscher unerlässlich, da sie die Hauptsprache für das Verfassen von Forschungspapieren und wissenschaftlichen Artikeln weltweit ist.</p>
    
                <p>Das Erlernen der Deutschen Sprache führt Sie auch in verschiedene Kulturen, vielfältige Bräuche ein und ermöglicht es Ihnen, Filme, Musik und Literatur aus aller Welt zu genießen. Die Sprache erleichtert das Reisen und macht es einfacher, mehrere Länder zu erkunden und Informationen mit anderen auszutauschen, aufgrund ihrer weit verbreiteten Verwendung als Hauptsprache oder Zweitsprache.</p>
    
                <p>Die Beherrschung der Deutschen Sprache eröffnet berufliche Chancen, da sie zu einer grundlegenden Anforderung für die Beschäftigung geworden ist. Das Dana Language Center bietet ausgezeichnete Möglichkeiten, Deutsch mit erfahrenen Lehrern sowohl persönlich als auch online zu studieren. Unsere Deutschkurse decken wesentliche Sprachfähigkeiten wie Lesen, Schreiben, Sprechen und Zuhören ab, mit einer Gesamtdauer von 180 Stunden Schulung.</p>
    
                <h2>Wo Deutsch lernen?</h2>
                <p>Das Dana Language Center, das mit der Universität von Jordanien verbunden ist, bietet Möglichkeiten, Deutsch mit den besten Lehrkräften zu studieren. Wir bieten sowohl persönliche als auch Online-Methoden zu jeder Zeit an. Unser Deutschprogramm umfasst sechs Stufen und deckt alle grundlegenden Sprachfertigkeiten ab, einschließlich Lesen, Schreiben, Konversation und Zuhören.</p>
    
                <p>Unser Lehrplan umfasst auch fortgeschrittene Kurse wie Konversationsklassen und Vorbereitungskurse für internationale Prüfungen wie TOEFL oder IELTS. Unser Lehrplan, mit dem Namen I DISCOVER, wird vom Dana Language Center für das Lernen unterstützt.</p>
            </div>
        </section>
    </div>
    <footer>
        &copy; 2024 Dana Language Center. All rights reserved.
    </footer>
</body>
</html>