<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- The Title -->
    <title>Hindi Language | Dana</title>
    <!-- Linking CSS -->
    <link rel="stylesheet" href="../../style/style.css">
    <link rel="stylesheet" href="../../style/ln-pages.css">
</head>
<body>
    <div class="container">
        <div id="navbar">
            <a href="../../index.html" style="color: #392f5a;">
                <img src="../../assets/Logo.png" alt="Logo" style="width: 125px; height: auto;">
            </a>
            <a href="../../index.html">Home</a>
            <a href="../about.html">About Us</a>
            <a href="../services.html">Services</a>
            <div class="dropdown">
                <button class="dropbtn">Languages</button>
                <div class="dropdown-content">
                    <a href="./arabic.html">Arabic</a>
                    <a href="./english.html">English</a>
                    <a href="./spanish.html">Spanish</a>
                    <a href="./turkish.html">Turkish</a>
                    <a href="./french.html">French</a>
                    <a href="./russian.html">Russian</a>
                    <a href="./chinese.html">Chinese </a>
                    <a href="./german.html">German</a>
                    <a href="./japanese.html">Japanese</a>
                    <a href="./portuguese.html">Portuguese</a>
                    <a href="./hindi.html">Hindi</a>
                    <a href="./bengali.html">Bengali</a>
                    <a href="./urdu.html">Urdu</a>
                    <a href="./punjabi.html">Punjabi</a>
                    <a href="./malay.html">Malay</a>
                    <a href="./Pilipina.html">Pilipina</a>
                </div>
            </div>
            <a href="../contact.html">Contact Us</a>
        </div>
    </div>
    <div class="container">
        <header>
            <h1>Dana Language Center में हिंदी सीखें</h1>
        </header>
    
        <section class="content">
            <div class="image">
                <img src="../../assets/languages/default-language.png" alt="">
            </div>
            <div class="description">
                <h2>हिंदी सीखने का कारण क्या है?</h2>
                <p>हिंदी सीखने से नए जड़ों के लिए दरवाजे खुलते हैं, जिससे आप विभिन्न पृष्ठभूमियों के लोगों से संवाद कर सकते हैं। हिंदी व्यापक रूप से बोली जाने के कारण, इससे एक व्यापक नेटवर्क बनाने का अवसर मिलता है। साथ ही, हिंदी को सीखना अनुसंधानकर्ताओं के लिए अत्यंत महत्वपूर्ण है, क्योंकि यह वैश्विक रूप से शोध पत्र और वैज्ञानिक लेख लिखने के लिए प्रमुख भाषा है।</p>
    
                <p>हिंदी सीखने से आपको विभिन्न सांस्कृतियों से मिलता है, विभिन्न रीति-रिवाज़ों से परिचित होते हैं, और दुनिया भर से फ़िल्में, संगीत और साहित्य का आनंद लेने का अवसर मिलता है। यह भाषा यात्रा को सरल बनाती है, जिससे कई देशों को अन्वेषण करना और दूसरों के साथ जानकारी विनिमय करना आसान होता है, क्योंकि इसे प्रमुख या सहायक भाषा के रूप में चर्चा किया जाता है।</p>
    
                <p>हिंदी में निपुणता कार्य अवसरों को बढ़ाती है, क्योंकि इसने रोजगार के लिए एक मौलिक आवश्यकता बन गई है। Dana Language Center अनुभवी शिक्षकों के साथ हिंदी सीखने के लिए उत्कृष्ट अवसर प्रदान करता है, जो स्थानीय और ऑनलाइन दोनों पद्धतियों के माध्यम से किए जा सकते हैं। हमारे हिंदी कोर्स में पढ़ाई, लेखन, बोलने और सुनने जैसी महत्वपूर्ण भाषा कौशलों का अध्ययन किया जाता है, जिसका कुल प्रशिक्षण काल 180 घंटा है।</p>
    
                <h2>हिंदी सीखने के लिए कहाँ?</h2>
                <p>Dana Language Center, जो जॉर्डन विश्वविद्यालय से जुड़ा हुआ है, अच्छे शिक्षकों के साथ हिंदी सीखने के लिए अवसर प्रदान करता है। हम सभी समयों में स्थानीय और ऑनलाइन दोनों पद्धतियों को प्रदान करते हैं। हमारा हिंदी प्रोग्राम छह स्तरों से मिलकर बना है, जो पढ़ाई, लेखन, वार्ता और सुनने जैसी सभी मौलिक भाषा कौशलों को कवर करता है।</p>
    
                <p>हमारे पाठ्यक्रम में वार्ता कक्षाएं और TOEFL या IELTS जैसी अंतरराष्ट्रीय परीक्षाओं के लिए पूर्वतयारी के लिए प्रयुक्त कक्षाएं शामिल हैं। हमारा पाठ्यक्रम, जिसे I DISCOVER कहा जाता है, Dana Languages Center द्वारा शिक्षा के लिए समर्थित है।</p>
            </div>
        </section>
    </div>
    <footer>
        &copy; 2024 Dana Language Center. All rights reserved.
    </footer>
</body>
</html>