<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- The Title -->
    <title>Japanese Language | Dana</title>
    <!-- Linking CSS -->
    <link rel="stylesheet" href="../../style/style.css">
    <link rel="stylesheet" href="../../style/ln-pages.css">
</head>
<body>
    <div class="container">
        <div id="navbar">
            <a href="../../index.html" style="color: #392f5a;">
                <img src="../../assets/Logo.png" alt="Logo" style="width: 125px; height: auto;">
            </a>
            <a href="../../index.html">Home</a>
            <a href="../about.html">About Us</a>
            <a href="../services.html">Services</a>
            <div class="dropdown">
                <button class="dropbtn">Languages</button>
                <div class="dropdown-content">
                    <a href="./arabic.html">Arabic</a>
                    <a href="./english.html">English</a>
                    <a href="./spanish.html">Spanish</a>
                    <a href="./turkish.html">Turkish</a>
                    <a href="./french.html">French</a>
                    <a href="./russian.html">Russian</a>
                    <a href="./chinese.html">Chinese </a>
                    <a href="./german.html">German</a>
                    <a href="./japanese.html">Japanese</a>
                    <a href="./portuguese.html">Portuguese</a>
                    <a href="./hindi.html">Hindi</a>
                    <a href="./bengali.html">Bengali</a>
                    <a href="./urdu.html">Urdu</a>
                    <a href="./punjabi.html">Punjabi</a>
                    <a href="./malay.html">Malay</a>
                    <a href="./Pilipina.html">Pilipina</a>
                </div>
            </div>
            <a href="../contact.html">Contact Us</a>
        </div>
    </div>
    <div class="container">
        <header>
            <h1>Dana言語センターでアラビア語を学ぶ</h1>
        </header>
    
        <section class="content">
            <div class="image">
                <img src="../../assets/languages/JABAN.webp" alt="">
            </div>
            <div class="description">
                <h2>アラビア語を学ぶ理由は何ですか？</h2>
                <p>アラビア語を学ぶことで、異なるバックグラウンドを持つ人々とコミュニケーションをとる新しいつながりが生まれ、幅広いネットワークを構築する機会が提供されます。アラビア語は広く話されているため、多様な文化的背景を持つ人々とのコミュニケーションの機会を提供します。また、アラビア語の習得は研究者にとって重要です。なぜなら、それが世界中で研究論文や科学論文を書くための主要な言語であるからです。</p>
    
                <p>アラビア語を学ぶことはさまざまな文化や異なる習慣に触れ、世界中の映画、音楽、文学を楽しむことができます。この言語は旅行を容易にし、広く使用されているため、主要または副次的な言語として、複数の国を探索し、他者と情報を交換することが簡単になります。</p>
    
                <p>アラビア語の習熟は雇用の基本的な要件となっており、就業のための重要な機会を提供しています。Dana言語センターは経験豊富な講師との面談やオンライン方法を通じてアラビア語を学ぶ素晴らしい機会を提供しています。アラビア語のコースは、読む、書く、話す、聞くなどの基本的な言語スキルをカバーし、総合的なトレーニング時間は180時間です。</p>
    
                <h2>アラビア語を学ぶ場所はどこですか？</h2>
                <p>ヨルダン大学に所属するDana言語センターは、最高の教育スタッフと共にアラビア語を学ぶ機会を提供しています。いつでも対面およびオンラインの方法を提供しています。アラビア語プログラムは6つのレベルから成り、読書、執筆、会話、聞くなど、すべての基本的な言語スキルをカバーしています。</p>
    
                <p>私たちのカリキュラムには、会話クラスやTOEFLやIELTSなどの国際試験のための準備コースなど、高度なコースも含まれています。私たちのカリキュラムであるI DISCOVERは、学習のためにDana言語センターによって支持されています。</p>
            </div>
        </section>
    </div>
    <footer>
        &copy; 2024 Dana Language Center. All rights reserved.
    </footer>
</body>
</html>