<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- The Title -->
    <title>Malay Language | Dana</title>
    <!-- Linking CSS -->
    <link rel="stylesheet" href="../../style/style.css">
    <link rel="stylesheet" href="../../style/ln-pages.css">
</head>
<body>
    <div class="container">
        <div id="navbar">
            <a href="../../index.html" style="color: #392f5a;">
                <img src="../../assets/Logo.png" alt="Logo" style="width: 125px; height: auto;">
            </a>
            <a href="../../index.html">Home</a>
            <a href="../about.html">About Us</a>
            <a href="../services.html">Services</a>
            <div class="dropdown">
                <button class="dropbtn">Languages</button>
                <div class="dropdown-content">
                    <a href="./arabic.html">Arabic</a>
                    <a href="./english.html">English</a>
                    <a href="./spanish.html">Spanish</a>
                    <a href="./turkish.html">Turkish</a>
                    <a href="./french.html">French</a>
                    <a href="./russian.html">Russian</a>
                    <a href="./chinese.html">Chinese </a>
                    <a href="./german.html">German</a>
                    <a href="./japanese.html">Japanese</a>
                    <a href="./portuguese.html">Portuguese</a>
                    <a href="./hindi.html">Hindi</a>
                    <a href="./bengali.html">Bengali</a>
                    <a href="./urdu.html">Urdu</a>
                    <a href="./punjabi.html">Punjabi</a>
                    <a href="./malay.html">Malay</a>
                    <a href="./Pilipina.html">Pilipina</a>
                </div>
            </div>
            <a href="../contact.html">Contact Us</a>
        </div>
    </div>
    <div class="container">
        <header>
            <h1>Belajar Bahasa Malaysia di Pusat Bahasa Dana</h1>
        </header>
    
        <section class="content">
            <div class="image">
                <img src="../../assets/languages/default-language.png" alt="">
            </div>
            <div class="description">
                <h2>Mengapa Belajar Bahasa Malaysia?</h2>
                <p>Belajar Bahasa Malaysia membuka pintu kepada hubungan baru, membolehkan anda berkomunikasi dengan orang dari pelbagai latar belakang. Dengan Bahasa Malaysia menjadi bahasa yang digunakan secara meluas, ia memberikan peluang untuk membina rangkaian yang luas. Selain itu, penguasaan Bahasa Malaysia adalah penting untuk penyelidik, kerana ia merupakan bahasa utama untuk menulis kertas penyelidikan dan artikel saintifik secara global.</p>
    
                <p>Belajar Bahasa Malaysia juga membawa anda mengenali pelbagai budaya, adat resam yang berbeza, dan membolehkan anda menikmati filem, muzik, dan literatur dari seluruh dunia. Bahasa ini memudahkan perjalanan, menjadikannya lebih mudah untuk menjelajahi pelbagai negara dan bertukar maklumat dengan orang lain, memandangkan kegunaannya yang meluas sebagai bahasa utama atau sekunder.</p>
    
                <p>Kemahiran dalam Bahasa Malaysia meningkatkan peluang pekerjaan, kerana ia telah menjadi keperluan asas untuk pekerjaan. Pusat Bahasa Dana menawarkan peluang yang sangat baik untuk belajar Bahasa Malaysia dengan instruktor berpengalaman melalui kaedah bersemuka dan dalam talian. Kursus Bahasa Malaysia kami melibatkan kemahiran bahasa asas seperti membaca, menulis, bertutur, dan mendengar, dengan tempoh latihan keseluruhan selama 180 jam.</p>
    
                <h2>Di Mana Untuk Belajar Bahasa Malaysia?</h2>
                <p>Pusat Bahasa Dana, yang berafiliasi dengan Universiti Jordan, menyediakan peluang untuk belajar Bahasa Malaysia dengan kakitangan pengajar terbaik. Kami menawarkan kaedah bersemuka dan dalam talian pada semua masa. Program Bahasa Malaysia kami terdiri daripada enam peringkat, merangkumi semua kemahiran bahasa asas, termasuk membaca, menulis, berbual, dan mendengar.</p>
    
                <p>Kurikulum kami termasuk kursus-kursus lanjutan seperti kelas-kelas perbualan dan kursus persediaan untuk peperiksaan antMalaysiaangsa seperti TOEFL atau IELTS. Kurikulum kami, yang dinamakan I DISCOVER, disokong oleh Pusat Bahasa Dana untuk pembelajaran.</p>
            </div>
        </section>
    </div>
    <footer>
        &copy; 2024 Dana Language Center. All rights reserved.
    </footer> 
</body>
</html>