<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- The Title -->
    <title>Pilipina Language | Dana</title>
    <!-- Linking CSS -->
    <link rel="stylesheet" href="../../style/style.css">
    <link rel="stylesheet" href="../../style/ln-pages.css">
</head>
<body>
    <div class="container">
        <div id="navbar">
            <a href="../../index.html" style="color: #392f5a;">
                <img src="../../assets/Logo.png" alt="Logo" style="width: 125px; height: auto;">
            </a>
            <a href="../../index.html">Home</a>
            <a href="../about.html">About Us</a>
            <a href="../services.html">Services</a>
            <div class="dropdown">
                <button class="dropbtn">Languages</button>
                <div class="dropdown-content">
                    <a href="./arabic.html">Arabic</a>
                    <a href="./english.html">English</a>
                    <a href="./spanish.html">Spanish</a>
                    <a href="./turkish.html">Turkish</a>
                    <a href="./french.html">French</a>
                    <a href="./russian.html">Russian</a>
                    <a href="./chinese.html">Chinese </a>
                    <a href="./german.html">German</a>
                    <a href="./japanese.html">Japanese</a>
                    <a href="./portuguese.html">Portuguese</a>
                    <a href="./hindi.html">Hindi</a>
                    <a href="./bengali.html">Bengali</a>
                    <a href="./urdu.html">Urdu</a>
                    <a href="./punjabi.html">Punjabi</a>
                    <a href="./malay.html">Malay</a>
                    <a href="./Pilipina.html">Pilipina</a>
                </div>
            </div>
            <a href="../contact.html">Contact Us</a>
        </div>
    </div>
    <div class="container">
        <header>
            <h1>Learn Arabic at Dana Language Center</h1>
        </header>

        <section class="content">
            <div class="image">
                <img src="../../assets/languages/default-language.png" alt="">
            </div>
            <div class="description">
                <h2>Bakit Matuto ng Arabic?</h2>
                <p>Ang pag-aaral ng Arabic ay nagbubukas ng mga pinto sa mga bagong koneksyon, na nagbibigay-daan sa iyong makipag-usap sa mga tao mula sa magkakaibang background. Sa Arabic na malawak na sinasalita, nagbibigay ito ng pagkakataon na bumuo ng isang malawak na network. Bukod pa rito, ang pag-master ng Arabic ay mahalaga para sa mga mananaliksik, dahil ito ang pangunahing wika para sa pagsusulat ng mga research paper at siyentipikong artikulo sa buong mundo.</p>
                
                <p>Ang pag-aaral ng Arabic ay nagpapakilala rin sa iyo sa iba't ibang kultura, iba't ibang kaugalian, at nagbibigay-daan sa iyong masiyahan sa mga pelikula, musika, at panitikan mula sa buong mundo. Pinapadali ng wika ang paglalakbay, na ginagawang mas madaling tuklasin ang maraming bansa at makipagpalitan ng impormasyon sa iba, dahil sa malawakang paggamit nito bilang pangunahin o pangalawang wika.</p>
                
                <p>Ang kasanayan sa Arabic ay nagdaragdag ng mga oportunidad sa trabaho, dahil ito ay naging pangunahing pangangailangan para sa trabaho. Nag-aalok ang Dana Language Center ng mahusay na mga pagkakataon upang mag-aral ng Arabic kasama ng mga may karanasang instruktor sa pamamagitan ng parehong paraan ng harapan at online. Saklaw ng aming mga kursong Arabic ang mahahalagang kasanayan sa wika tulad ng pagbabasa, pagsusulat, pagsasalita, at pakikinig, na may kabuuang tagal ng pagsasanay na 180 oras.</p>
                
                <h2>Where to Learn Arabic?</h2>
                <p>Ang Dana Language Center, na kaanib sa Unibersidad ng Jordan, ay nagbibigay ng mga pagkakataong mag-aral ng Arabic kasama ang pinakamahusay na kawani ng pagtuturo. Nag-aalok kami kapwa nang harapan at online na mga pamamaraan sa lahat ng oras. Ang aming Arabic na programa ay binubuo ng anim na antas, na sumasaklaw sa lahat ng pangunahing kasanayan sa wika, kabilang ang pagbabasa, pagsusulat, pag-uusap, at pakikinig.</p>

                <p>Kasama sa aming kurikulum ang mga advanced na kurso tulad ng mga klase sa pag-uusap at mga kurso sa paghahanda para sa mga internasyonal na pagsusulit tulad ng TOEFL o IELTS. Ang aming curriculum, na pinangalanang I DISCOVER, ay itinataguyod ng Dana Languages ​​Center para sa pag-aaral.</p>
            </div>
        </section>
    </div>

    <footer>
        &copy; 2024 Dana Language Center. All rights reserved.
    </footer>
</body>
</html>