<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- The Title -->
    <title>Portuguese Language | Dana</title>
    <!-- Linking CSS -->
    <link rel="stylesheet" href="../../style/style.css">
    <link rel="stylesheet" href="../../style/ln-pages.css">
</head>
<body>
    <div class="container">
        <div id="navbar">
            <a href="../../index.html" style="color: #392f5a;">
                <img src="../../assets/Logo.png" alt="Logo" style="width: 125px; height: auto;">
            </a>
            <a href="../../index.html">Home</a>
            <a href="../about.html">About Us</a>
            <a href="../services.html">Services</a>
            <div class="dropdown">
                <button class="dropbtn">Languages</button>
                <div class="dropdown-content">
                    <a href="./arabic.html">Arabic</a>
                    <a href="./english.html">English</a>
                    <a href="./spanish.html">Spanish</a>
                    <a href="./turkish.html">Turkish</a>
                    <a href="./french.html">French</a>
                    <a href="./russian.html">Russian</a>
                    <a href="./chinese.html">Chinese </a>
                    <a href="./german.html">German</a>
                    <a href="./japanese.html">Japanese</a>
                    <a href="./portuguese.html">Portuguese</a>
                    <a href="./hindi.html">Hindi</a>
                    <a href="./bengali.html">Bengali</a>
                    <a href="./urdu.html">Urdu</a>
                    <a href="./punjabi.html">Punjabi</a>
                    <a href="./malay.html">Malay</a>
                    <a href="./Pilipina.html">Pilipina</a>
                </div>
            </div>
            <a href="../contact.html">Contact Us</a>
        </div>
    </div>
    <div class="container">
        <header>
            <h1>Aprenda Português no Centro de Idiomas Dana</h1>
        </header>
    
        <section class="content">
            <div class="image">
                <img src="../../assets/languages/default-language.png" alt="">
            </div>
            <div class="description">
                <h2>Por Que Aprender Português?</h2>
                <p>Aprender Português abre portas para novas conexões, permitindo que você se comunique com pessoas de diversas origens. Com o Português sendo amplamente falado, proporciona a oportunidade de construir uma rede ampla. Além disso, dominar o Português é essencial para pesquisadores, pois é a língua principal para escrever artigos de pesquisa e científicos globalmente.</p>
    
                <p>Aprender Português também te introduz a diferentes culturas, costumes diversos, e permite que você desfrute de filmes, música e literatura de todo o mundo. A língua facilita viagens, tornando mais fácil explorar vários países e trocar informações com outros, dada sua ampla utilização como língua principal ou secundária.</p>
    
                <p>A proficiência em Português aumenta as oportunidades de emprego, sendo um requisito fundamental. O Centro de Idiomas Dana oferece excelentes oportunidades para estudar Português com instrutores experientes, tanto presencialmente quanto online. Nossos cursos de Português abrangem habilidades linguísticas essenciais como leitura, escrita, fala e escuta, com uma duração total de treinamento de 180 horas.</p>
    
                <h2>Onde Aprender Português?</h2>
                <p>O Centro de Idiomas Dana, afiliado à Universidade da Jordânia, proporciona oportunidades para estudar Português com os melhores professores. Oferecemos métodos presenciais e online a todo momento. Nosso programa de Português consiste em seis níveis, abrangendo todas as habilidades linguísticas fundamentais, incluindo leitura, escrita, conversação e escuta.</p>
    
                <p>Nosso currículo inclui cursos avançados como aulas de conversação e cursos preparatórios para exames internacionais como TOEFL ou IELTS. Nosso currículo, chamado I DISCOVER, é endossado pelo Centro de Idiomas Dana para aprendizado.</p>
            </div>
        </section>
    </div>
    <footer>
        &copy; 2024 Dana Language Center. All rights reserved.
    </footer>
</body>
</html>