<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- The Title -->
    <title>Punjabi Language | Dana</title>
    <!-- Linking CSS -->
    <link rel="stylesheet" href="../../style/style.css">
    <link rel="stylesheet" href="../../style/ln-pages.css">
</head>
<body>
    <div class="container">
        <div id="navbar">
            <a href="../../index.html" style="color: #392f5a;">
                <img src="../../assets/Logo.png" alt="Logo" style="width: 125px; height: auto;">
            </a>
            <a href="../../index.html">Home</a>
            <a href="../about.html">About Us</a>
            <a href="../services.html">Services</a>
            <div class="dropdown">
                <button class="dropbtn">Languages</button>
                <div class="dropdown-content">
                    <a href="./arabic.html">Arabic</a>
                    <a href="./english.html">English</a>
                    <a href="./spanish.html">Spanish</a>
                    <a href="./turkish.html">Turkish</a>
                    <a href="./french.html">French</a>
                    <a href="./russian.html">Russian</a>
                    <a href="./chinese.html">Chinese </a>
                    <a href="./german.html">German</a>
                    <a href="./japanese.html">Japanese</a>
                    <a href="./portuguese.html">Portuguese</a>
                    <a href="./hindi.html">Hindi</a>
                    <a href="./bengali.html">Bengali</a>
                    <a href="./urdu.html">Urdu</a>
                    <a href="./punjabi.html">Punjabi</a>
                    <a href="./malay.html">Malay</a>
                    <a href="./Pilipina.html">Pilipina</a>
                </div>
            </div>
            <a href="../contact.html">Contact Us</a>
        </div>
    </div>
    <div class="container">
        <header>
            <h1>Learn English at Dana Language Center</h1>
        </header>
    
        <section class="content">
            <div class="image">
                <img src="../../assets/languages/default-language.png" alt="">
            </div>
            <div class="description">
                <h2>ਅਸੀਂ ਅੰਗਰੇਜ਼ੀ ਕਿਉਂ ਸਿੱਖਦੇ ਹਾਂ?</h2>
                <p>ਅੰਗਰੇਜ਼ੀ ਸਿੱਖਣਾ ਤੁਹਾਨੂੰ ਵਿਭਿੰਨ ਪਿਛੋਕੜ ਵਾਲੇ ਲੋਕਾਂ ਨਾਲ ਸੰਚਾਰ ਕਰਨ ਦੀ ਆਗਿਆ ਦਿੰਦਾ ਹੈ, ਨਵੇਂ ਕਨੈਕਸ਼ਨਾਂ ਲਈ ਦਰਵਾਜ਼ੇ ਖੋਲ੍ਹਦਾ ਹੈ। ਅੰਗਰੇਜ਼ੀ ਦੇ ਵਿਆਪਕ ਤੌਰ 'ਤੇ ਬੋਲੀ ਜਾਣ ਦੇ ਨਾਲ, ਇਹ ਇੱਕ ਵਿਸ਼ਾਲ ਨੈਟਵਰਕ ਬਣਾਉਣ ਦਾ ਮੌਕਾ ਪ੍ਰਦਾਨ ਕਰਦਾ ਹੈ। ਇਸ ਤੋਂ ਇਲਾਵਾ, ਖੋਜਕਰਤਾਵਾਂ ਲਈ ਅੰਗਰੇਜ਼ੀ ਵਿੱਚ ਮੁਹਾਰਤ ਹਾਸਲ ਕਰਨਾ ਜ਼ਰੂਰੀ ਹੈ, ਕਿਉਂਕਿ ਇਹ ਵਿਸ਼ਵ ਪੱਧਰ 'ਤੇ ਖੋਜ ਪੱਤਰਾਂ ਅਤੇ ਵਿਗਿਆਨਕ ਲੇਖਾਂ ਨੂੰ ਲਿਖਣ ਲਈ ਪ੍ਰਾਇਮਰੀ ਭਾਸ਼ਾ ਹੈ।</p>
    
                <p>ਅੰਗਰੇਜ਼ੀ ਸਿੱਖਣਾ ਤੁਹਾਨੂੰ ਵੱਖ-ਵੱਖ ਸਭਿਆਚਾਰਾਂ, ਵਿਭਿੰਨ ਰੀਤੀ-ਰਿਵਾਜਾਂ ਨਾਲ ਵੀ ਜਾਣੂ ਕਰਵਾਉਂਦਾ ਹੈ, ਅਤੇ ਤੁਹਾਨੂੰ ਦੁਨੀਆ ਭਰ ਦੀਆਂ ਫਿਲਮਾਂ, ਸੰਗੀਤ ਅਤੇ ਸਾਹਿਤ ਦਾ ਅਨੰਦ ਲੈਣ ਦੀ ਆਗਿਆ ਦਿੰਦਾ ਹੈ। ਇਹ ਭਾਸ਼ਾ ਯਾਤਰਾ ਦੀ ਸਹੂਲਤ ਦਿੰਦੀ ਹੈ, ਜਿਸ ਨਾਲ ਕਈ ਦੇਸ਼ਾਂ ਦੀ ਪੜਚੋਲ ਕਰਨਾ ਅਤੇ ਦੂਜਿਆਂ ਨਾਲ ਜਾਣਕਾਰੀ ਦਾ ਆਦਾਨ-ਪ੍ਰਦਾਨ ਕਰਨਾ ਆਸਾਨ ਹੋ ਜਾਂਦਾ ਹੈ, ਇਸਦੀ ਵਿਆਪਕ ਵਰਤੋਂ ਨੂੰ ਮੁੱਖ ਜਾਂ ਸੈਕੰਡਰੀ ਭਾਸ਼ਾ ਦੇ ਰੂਪ ਵਿੱਚ ਦਿੱਤਾ ਜਾਂਦਾ ਹੈ।</p>
    
                <p>ਅੰਗਰੇਜ਼ੀ ਵਿੱਚ ਮੁਹਾਰਤ ਰੁਜ਼ਗਾਰ ਦੇ ਮੌਕੇ ਵਧਾਉਂਦੀ ਹੈ, ਕਿਉਂਕਿ ਇਹ ਰੁਜ਼ਗਾਰ ਲਈ ਇੱਕ ਬੁਨਿਆਦੀ ਲੋੜ ਬਣ ਗਈ ਹੈ। ਡਾਨਾ ਲੈਂਗੂਏਜ ਸੈਂਟਰ ਫੇਸ-ਟੂ-ਫੇਸ ਅਤੇ ਔਨਲਾਈਨ ਦੋਵਾਂ ਤਰੀਕਿਆਂ ਰਾਹੀਂ ਤਜਰਬੇਕਾਰ ਇੰਸਟ੍ਰਕਟਰਾਂ ਨਾਲ ਅੰਗਰੇਜ਼ੀ ਦਾ ਅਧਿਐਨ ਕਰਨ ਦੇ ਸ਼ਾਨਦਾਰ ਮੌਕੇ ਪ੍ਰਦਾਨ ਕਰਦਾ ਹੈ। ਸਾਡੇ ਅੰਗਰੇਜ਼ੀ ਕੋਰਸਾਂ ਵਿੱਚ 180 ਘੰਟਿਆਂ ਦੀ ਕੁੱਲ ਸਿਖਲਾਈ ਅਵਧੀ ਦੇ ਨਾਲ, ਪੜ੍ਹਨਾ, ਲਿਖਣਾ, ਬੋਲਣਾ ਅਤੇ ਸੁਣਨਾ ਵਰਗੇ ਜ਼ਰੂਰੀ ਭਾਸ਼ਾ ਹੁਨਰ ਸ਼ਾਮਲ ਹੁੰਦੇ ਹਨ।</p>
    
                <h2>ਅੰਗਰੇਜ਼ੀ ਕਿੱਥੇ ਸਿੱਖਣੀ ਹੈ?</h2>
                <p>ਡਾਨਾ ਲੈਂਗੂਏਜ ਸੈਂਟਰ, ਜੋਰਡਨ ਯੂਨੀਵਰਸਿਟੀ ਨਾਲ ਸੰਬੰਧਿਤ ਹੈ, ਵਧੀਆ ਅਧਿਆਪਨ ਸਟਾਫ ਦੇ ਨਾਲ ਅੰਗਰੇਜ਼ੀ ਦਾ ਅਧਿਐਨ ਕਰਨ ਦੇ ਮੌਕੇ ਪ੍ਰਦਾਨ ਕਰਦਾ ਹੈ। ਅਸੀਂ ਹਰ ਸਮੇਂ ਆਹਮੋ-ਸਾਹਮਣੇ ਅਤੇ ਔਨਲਾਈਨ ਤਰੀਕਿਆਂ ਦੀ ਪੇਸ਼ਕਸ਼ ਕਰਦੇ ਹਾਂ। ਸਾਡੇ ਅੰਗਰੇਜ਼ੀ ਪ੍ਰੋਗਰਾਮ ਵਿੱਚ ਛੇ ਪੱਧਰ ਹੁੰਦੇ ਹਨ, ਜਿਸ ਵਿੱਚ ਭਾਸ਼ਾ ਦੇ ਸਾਰੇ ਬੁਨਿਆਦੀ ਹੁਨਰ ਸ਼ਾਮਲ ਹੁੰਦੇ ਹਨ, ਜਿਸ ਵਿੱਚ ਪੜ੍ਹਨਾ, ਲਿਖਣਾ, ਗੱਲਬਾਤ ਕਰਨਾ ਅਤੇ ਸੁਣਨਾ ਸ਼ਾਮਲ ਹੈ।</p>
    
                <p>ਸਾਡੇ ਪਾਠਕ੍ਰਮ ਵਿੱਚ ਉੱਨਤ ਕੋਰਸ ਸ਼ਾਮਲ ਹਨ ਜਿਵੇਂ ਕਿ ਗੱਲਬਾਤ ਦੀਆਂ ਕਲਾਸਾਂ ਅਤੇ TOEFL ਜਾਂ IELTS ਵਰਗੀਆਂ ਅੰਤਰਰਾਸ਼ਟਰੀ ਪ੍ਰੀਖਿਆਵਾਂ ਲਈ ਤਿਆਰੀ ਕੋਰਸ। ਸਾਡੇ ਪਾਠਕ੍ਰਮ, ਜਿਸਦਾ ਨਾਮ I DISCOVER ਹੈ, ਨੂੰ ਸਿੱਖਣ ਲਈ ਦਾਨਾ ਭਾਸ਼ਾ ਕੇਂਦਰ ਦੁਆਰਾ ਸਮਰਥਨ ਪ੍ਰਾਪਤ ਹੈ।</p>
            </div>
        </section>
    </div>
    <footer>
        &copy; 2024 Dana Language Center. All rights reserved.
    </footer>
</body>
</html>