<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- The Title -->
    <title>Russian Language | Dana</title>
    <!-- Linking CSS -->
    <link rel="stylesheet" href="../../style/style.css">
    <link rel="stylesheet" href="../../style/ln-pages.css">
</head>
<body>
    <div class="container">
        <div id="navbar">
            <a href="../../index.html" style="color: #392f5a;">
                <img src="../../assets/Logo.png" alt="Logo" style="width: 125px; height: auto;">
            </a>
            <a href="../../index.html">Home</a>
            <a href="../about.html">About Us</a>
            <a href="../services.html">Services</a>
            <div class="dropdown">
                <button class="dropbtn">Languages</button>
                <div class="dropdown-content">
                    <a href="./arabic.html">Arabic</a>
                    <a href="./english.html">English</a>
                    <a href="./spanish.html">Spanish</a>
                    <a href="./turkish.html">Turkish</a>
                    <a href="./french.html">French</a>
                    <a href="./russian.html">Russian</a>
                    <a href="./chinese.html">Chinese </a>
                    <a href="./german.html">German</a>
                    <a href="./japanese.html">Japanese</a>
                    <a href="./portuguese.html">Portuguese</a>
                    <a href="./hindi.html">Hindi</a>
                    <a href="./bengali.html">Bengali</a>
                    <a href="./urdu.html">Urdu</a>
                    <a href="./punjabi.html">Punjabi</a>
                    <a href="./malay.html">Malay</a>
                    <a href="./Pilipina.html">Pilipina</a>
                </div>
            </div>
            <a href="../contact.html">Contact Us</a>
        </div>
    </div>
    <div class="container">
        <header>
            <h1>Изучайте Русский в Центре языков Dana</h1>
        </header>
    
        <section class="content">
            <div class="image">
                <img src="../../assets/languages/russia.webp" alt="">
            </div>
            <div class="description">
                <h2>Почему изучать Русский?</h2>
                <p>Изучение арабского языка открывает двери для новых связей, позволяя вам общаться с людьми различных происхождений. Поскольку Русский широко используется, это дает возможность строить обширную сеть контактов. Кроме того, владение арабским языком необходимо исследователям, поскольку он является основным языком для написания научных статей и исследований во всем мире.</p>
    
                <p>Изучение арабского также позволяет вам погрузиться в различные культуры, познакомиться с разнообразными обычаями и насладиться фильмами, музыкой и литературой со всего мира. Язык облегчает путешествия, делая более простым исследование различных стран и обмен информацией с другими благодаря его широкому использованию как основного или вторичного языка.</p>
    
                <p>Владение арабским увеличивает шансы на трудоустройство, будучи фундаментальным требованием. Центр языков Dana предоставляет отличные возможности для изучения арабского с опытными инструкторами как очно, так и онлайн. Наши курсы арабского охватывают основные языковые навыки, такие как чтение, письмо, разговор и слушание, с общим временем обучения в 180 часов.</p>
    
                <h2>Где изучать Русский?</h2>
                <p>Центр языков Dana, аффилированный с Университетом Иордании, предоставляет возможности изучения арабского с лучшими преподавателями. Мы предлагаем как очные, так и онлайн методы обучения в любое время. Наша программа арабского включает в себя шесть уровней, охватывающих все основные языковые навыки, включая чтение, письмо, разговор и слушание.</p>
    
                <p>Наш учебный план включает в себя продвинутые курсы, такие как разговорные занятия и подготовительные курсы к международным экзаменам, таким как TOEFL или IELTS. Наш учебный план, названный I DISCOVER, одобрен Центром языков Dana для обучения.</p>
            </div>
        </section>
    </div>
    <footer>
        &copy; 2024 Dana Language Center. All rights reserved.
    </footer>
</body>
</html>