<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- The Title -->
    <title>Spanich Language | Dana</title>
    <!-- Linking CSS -->
    <link rel="stylesheet" href="../../style/style.css">
    <link rel="stylesheet" href="../../style/ln-pages.css">
</head>
<body>
    <div class="container">
        <div id="navbar">
            <a href="../../index.html" style="color: #392f5a;">
                <img src="../../assets/Logo.png" alt="Logo" style="width: 125px; height: auto;">
            </a>
            <a href="../../index.html">Home</a>
            <a href="../about.html">About Us</a>
            <a href="../services.html">Services</a>
            <div class="dropdown">
                <button class="dropbtn">Languages</button>
                <div class="dropdown-content">
                    <a href="./arabic.html">Arabic</a>
                    <a href="./english.html">English</a>
                    <a href="./spanish.html">Spanish</a>
                    <a href="./turkish.html">Turkish</a>
                    <a href="./french.html">French</a>
                    <a href="./russian.html">Russian</a>
                    <a href="./chinese.html">Chinese </a>
                    <a href="./german.html">German</a>
                    <a href="./japanese.html">Japanese</a>
                    <a href="./portuguese.html">Portuguese</a>
                    <a href="./hindi.html">Hindi</a>
                    <a href="./bengali.html">Bengali</a>
                    <a href="./urdu.html">Urdu</a>
                    <a href="./punjabi.html">Punjabi</a>
                    <a href="./malay.html">Malay</a>
                    <a href="./Pilipina.html">Pilipina</a>
                </div>
            </div>
            <a href="../contact.html">Contact Us</a>
        </div>
    </div>
    <div class="container">
        <header>
            <h1>Aprende Español en el Centro de Idiomas Dana</h1>
        </header>
    
        <section class="content">
            <div class="image">
                <img src="../../assets/languages/spain.webp" alt="">
            </div>
            <div class="description">
                <h2>¿Por qué aprender Español?</h2>
                <p>Aprender Español abre puertas a nuevas conexiones, permitiéndote comunicarte con personas de diversas procedencias. Dado que el Español se habla ampliamente, brinda la oportunidad de construir una red extensa. Además, dominar el Español es esencial para los investigadores, ya que es el idioma principal para escribir artículos de investigación y científicos a nivel mundial.</p>
    
                <p>Aprender Español también te introduce a diferentes culturas, costumbres diversas, y te permite disfrutar de películas, música y literatura de todo el mundo. La lengua facilita los viajes, haciendo más fácil explorar varios países y compartir información con otros, dada su amplia utilización como lengua principal o secundaria.</p>
    
                <p>La competencia en Español aumenta las oportunidades laborales, siendo un requisito fundamental. El Centro de Idiomas Dana ofrece excelentes oportunidades para estudiar Español con instructores experimentados, tanto de manera presencial como en línea. Nuestros cursos de Español cubren habilidades lingüísticas esenciales como lectura, escritura, habla y escucha, con una duración total de entrenamiento de 180 horas.</p>
    
                <h2>¿Dónde aprender Español?</h2>
                <p>El Centro de Idiomas Dana, afiliado a la Universidad de Jordania, brinda oportunidades para estudiar Español con los mejores profesores. Ofrecemos métodos presenciales y en línea en todo momento. Nuestro programa de Español consta de seis niveles, abarcando todas las habilidades lingüísticas fundamentales, incluyendo lectura, escritura, conversación y escucha.</p>
    
                <p>Nuestro currículo incluye cursos avanzados como clases de conversación y cursos preparatorios para exámenes internacionales como TOEFL o IELTS. Nuestro currículo, llamado I DISCOVER, está respaldado por el Centro de Idiomas Dana para el aprendizaje.</p>
            </div>
        </section>
    </div>
    <footer>
        &copy; 2024 Dana Language Center. All rights reserved.
    </footer>
</body>
</html>