<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- The Title -->
    <title>Turkish Language | Dana</title>
    <!-- Linking CSS -->
    <link rel="stylesheet" href="../../style/style.css">
    <link rel="stylesheet" href="../../style/ln-pages.css">
</head>
<body>
    <div class="container">
        <div id="navbar">
            <a href="../../index.html" style="color: #392f5a;">
                <img src="../../assets/Logo.png" alt="Logo" style="width: 125px; height: auto;">
            </a>
            <a href="../../index.html">Home</a>
            <a href="../about.html">About Us</a>
            <a href="../services.html">Services</a>
            <div class="dropdown">
                <button class="dropbtn">Languages</button>
                <div class="dropdown-content">
                    <a href="./arabic.html">Arabic</a>
                    <a href="./english.html">English</a>
                    <a href="./spanish.html">Spanish</a>
                    <a href="./turkish.html">Turkish</a>
                    <a href="./french.html">French</a>
                    <a href="./russian.html">Russian</a>
                    <a href="./chinese.html">Chinese </a>
                    <a href="./german.html">German</a>
                    <a href="./japanese.html">Japanese</a>
                    <a href="./portuguese.html">Portuguese</a>
                    <a href="./hindi.html">Hindi</a>
                    <a href="./bengali.html">Bengali</a>
                    <a href="./urdu.html">Urdu</a>
                    <a href="./punjabi.html">Punjabi</a>
                    <a href="./malay.html">Malay</a>
                    <a href="./Pilipina.html">Pilipina</a>
                </div>
            </div>
            <a href="../contact.html">Contact Us</a>
        </div>
    </div>
    <div class="container">
        <header>
            <h1>Dana Dil Merkezi'nde Türkçe Öğrenin</h1>
        </header>
    
        <section class="content">
            <div class="image">
                <img src="../../assets/languages/turkish.webp" alt="">
            </div>
            <div class="description">
                <h2>Neden Türkçe Öğrenmelisiniz?</h2>
                <p>Türkçe öğrenmek, yeni bağlantılar kurma fırsatı tanıyarak çeşitli kökenlerden gelen insanlarla iletişim kurmanıza olanak sağlar. Türkçe'nın geniş bir şekilde konuşuluyor olması, geniş bir ağ kurma fırsatı sunar. Ayrıca, Türkçeyı bilmek, araştırmacılar için temel bir gerekliliktir, çünkü dünya çapında araştırma ve bilimsel makaleler yazmak için temel bir dilidir.</p>
    
                <p>Türkçe öğrenmek aynı zamanda farklı kültürlere, çeşitli geleneklere tanıtır ve dünya genelindeki filmlerin, müziğin ve edebiyatın tadını çıkarmanıza olanak tanır. Dil, seyahatleri kolaylaştırır, farklı ülkeleri keşfetmeyi ve geniş kullanımı nedeniyle diğerleriyle bilgi alışverişi yapmayı daha kolay hale getirir.</p>
    
                <p>Türkçe bilme becerisi, iş fırsatlarını arttırır, temel bir gereklilik olur. Dana Dil Merkezi, deneyimli eğitmenlerle Türkçe öğrenme konusunda mükemmel fırsatlar sunar, hem yüz yüze hem de çevrimiçi olarak. Türkçe kurslarımız, okuma, yazma, konuşma ve dinleme gibi temel dil becerilerini kapsayan, toplamda 180 saatlik bir eğitim süresine sahiptir.</p>
    
                <h2>Türkçe Nerede Öğrenilir?</h2>
                <p>Dana Dil Merkezi, Ürdün Üniversitesi ile bağlantılı olarak en iyi öğretmenlerle Türkçe öğrenme fırsatları sunar. Her zaman yüz yüze ve çevrimiçi yöntemleri sunuyoruz. Türkçe programımız, okuma, yazma, konuşma ve dinleme gibi tüm temel dil becerilerini kapsayan altı seviyeden oluşur.</p>
    
                <p>Programımız, konuşma dersleri ve TOEFL veya IELTS gibi uluslararası sınavlara hazırlık kursları gibi ileri düzey kursları içerir. I DISCOVER adlı müfredatımız, öğrenme için Dana Dil Merkezi tarafından onaylanmıştır.</p>
            </div>
        </section>
    </div>
    <footer>
        &copy; 2024 Dana Language Center. All rights reserved.
    </footer>
</body>
</html>