<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- The Title -->
    <title>Urdu Language | Dana</title>
    <!-- Linking CSS -->
    <link rel="stylesheet" href="../../style/style.css">
    <link rel="stylesheet" href="../../style/ln-pages.css">
</head>

<body>
    <div class="container">
        <div id="navbar">
            <a href="../../index.html" style="color: #392f5a;">
                <img src="../../assets/Logo.png" alt="Logo" style="width: 125px; height: auto;">
            </a>
            <a href="../../index.html">Home</a>
            <a href="../about.html">About Us</a>
            <a href="../services.html">Services</a>
            <div class="dropdown">
                <button class="dropbtn">Languages</button>
                <div class="dropdown-content">
                    <a href="./arabic.html">Arabic</a>
                    <a href="./english.html">English</a>
                    <a href="./spanish.html">Spanish</a>
                    <a href="./turkish.html">Turkish</a>
                    <a href="./french.html">French</a>
                    <a href="./russian.html">Russian</a>
                    <a href="./chinese.html">Chinese </a>
                    <a href="./german.html">German</a>
                    <a href="./japanese.html">Japanese</a>
                    <a href="./portuguese.html">Portuguese</a>
                    <a href="./hindi.html">Hindi</a>
                    <a href="./bengali.html">Bengali</a>
                    <a href="./urdu.html">Urdu</a>
                    <a href="./punjabi.html">Punjabi</a>
                    <a href="./malay.html">Malay</a>
                    <a href="./Pilipina.html">Pilipina</a>
                </div>
            </div>
            <a href="../contact.html">Contact Us</a>
        </div>
    </div>

    <div class="container">
        <header>
            <h1>ڈانا لینگویج سینٹر میں اردو سیکھیں</h1>
        </header>

        <section class="content">
            <div class="image">
                <img src="../../assets/languages/default-language.png" alt="">
            </div>
            <div class="description">
                <h2>اردو سیکھنے کا مقصد</h2>
                <p>اردو سیکھنا نئی تعلقات کے دروازے کو کھولتا ہے، جو آپ کو مختلف اصولوں والے لوگوں سے مواصلات کرنے کی
                    اجازت دیتا ہے۔ اردو کی وسیع استعمال کی بنا پر، یہ ایک وسیع نیٹ ورک بنانے کا موقع فراہم کرتا ہے۔
                    علاوہ ازیں، اردو کو مہارت سے حاصل کرنا تحقیقات کرنے والوں کے لئے لازمی ہے، کیونکہ یہ دنیا بھر میں
                    تحقیقاتی اور سائنسی مضمونات لکھنے کی لئے اہم ہے۔</p>

                <p>اردو سیکھنے سے آپ مختلف ثقافات، مختلف روایات سے متعلق ہوجاتے ہیں، اور یہ آپ کو دنیا بھر کی فلموں،
                    موسیقی اور ادب سے لطف اٹھانے کی اجازت دیتا ہے۔ یہ زبان سفر کو آسان بناتی ہے، مختلف ملکوں کو کھوجنے
                    اور اسے استعمال کرنے کو آسان بناتی ہے۔</p>

                <p>اردو مہارت روزگار کے مواقع میں بڑھوتری پیدا کرتی ہے، جو بنیادی طور پر ضروری ہوتی ہے۔ ڈانا لینگویج
                    سینٹر ماہر اساتذہ کے ساتھ اردو سیکھنے کی عظیم مواقع فراہم کرتا ہے، ہمارے اردو کورسز پڑھائی، تحریر،
                    بولنا اور سننا جیسی زبانی بنیادی مہارتوں پر مبنی ہیں، جن کا کل تربیتی وقت 180 گھنٹے ہے۔</p>

                <h2>اردو سیکھنے کے لئے کہاں جائیں؟</h2>
                <p>ڈانا لینگویج سینٹر، جارجن کے یونیورسٹی سے مربوط، بہترین استادوں کے ساتھ اردو سیکھنے کے مواقع فراہم
                    کرتا ہے۔ ہم ہر وقت حضور اور آن لائن تدریسی اصول فراہم کرتے ہیں۔ ہمارا اردو پروگرام چھ مراحل پر مشتمل
                    ہے، جو پڑھائی، تحریر، بات چیت اور سننے جیسی تمام بنیادی زبانی مہارتوں کو شامل کرتا ہے۔</p>

                <p>ہمارا نصاب، بات چیت کے کلاسز اور TOEFL یا IELTS جیسے بین الاقوامی امتحانات کی تیاری کے لئے تیاری کے
                    کورسز جیسی پیشگوئیاں شامل ہیں۔ ہمارا نصاب "I DISCOVER" کہلاتا ہے اور یہ ڈانا لینگویج سینٹر کی طرف سے
                    تصدیق شدہ ہے۔</p>
            </div>
        </section>
    </div>

    <footer>
        &copy; 2024 Dana Language Center. All rights reserved.
    </footer>
</body>

</html>