.container {
    opacity: 0; /* Initially set opacity to 0 */
    transition: opacity 0.5s ease; /* Add a transition for a smoother effect */
}

.container.visible {
    opacity: 1; /* Change opacity to 1 when the container is visible */
}


.ag-courses_box {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.ag-courses_item {
    flex: 0 1 calc(33.33333% - 30px);
    margin: 0 15px 30px;
    overflow: hidden;
    border-radius: 28px;
}

.ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #121212;
    overflow: hidden;
    position: relative;
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #FFF;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
    transform: scale(10);
}

.ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;
    overflow: hidden;
    font-weight: bold;
    font-size: 30px;
    color: #FFF;
    position: relative;
    z-index: 2;
}

.ag-courses-item_date-box {
    font-size: 18px;
    color: #FFF;
    position: relative;
    z-index: 2;
}

.ag-courses-item_date {
    font-weight: bold;
    color: #f9b234;
    transition: color .5s ease;
}

.ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    transition: all .5s ease;
}

.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #3ecd5e;
}

.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #e44002;
}

.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #952aff;
}

.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #cd3e94;
}

.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #4c49ea;
}

@media only screen and (max-width: 979px) {
    .ag-courses_item {
        flex: 0 1 calc(50% - 30px);
    }
    .ag-courses-item_title {
        font-size: 24px;
    }
}

@media only screen and (max-width: 639px) {
    .ag-courses_item {
        flex: 0 1 100%;
    }
    .ag-courses-item_title {
        min-height: 72px;
        line-height: 1;
        font-size: 24px;
    }
    .ag-courses-item_link {
        padding: 22px 40px;
    }
    .ag-courses-item_date-box {
        font-size: 16px;
    }
}


#reason {
    font-size: 1.2em;
}

li {
    margin-bottom: 10px;
}

.container.certificates section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 40px;
}

.container h1 {
    margin-bottom: 40px;
}



.container.numbers {
    text-align: center;
    padding: 20px;
}


.container.numbers section {
    display: flex;
    justify-content: space-around;
}

.container.numbers section > div {
    flex: 1;
}

.container.numbers section > div p {
    text-align: center;
}

.container.numbers div[data-count] {
    background-color: #f9cb40ff; /* Sunglow */
    color: #392f5a; /* Space Cadet */
    padding: 20px;
    border-radius: 8px;
    margin: 10px;
    font-size: 1.5em;
    width: 50px;
    margin: 0 auto;
}