<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- The Title -->
    <title>Our Services | Dana</title>
    <!-- Linking CSS -->
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/services.css">
</head>

<body>
    <div class="container">
        <div id="navbar">
            <a href="/" style="color: #392f5a;">
                <img src="../assets/Logo.png" alt="Logo" style="width: 125px; height: auto;">
            </a>
            <a href="/">Home</a>
            <a href="./about.html">About Us</a>
            <a href="./services.html">Services</a>
            <div class="dropdown">
                <button class="dropbtn">Languages</button>
                <div class="dropdown-content">
                    <a href="./languages/arabic.html">Arabic</a>
                    <a href="./languages/english.html">English</a>
                    <a href="./languages/spanish.html">Spanish</a>
                    <a href="./languages/turkish.html">Turkish</a>
                    <a href="./languages/french.html">French</a>
                    <a href="./languages/russian.html">Russian</a>
                    <a href="./languages/chinese.html">Chinese </a>
                    <a href="./languages/german.html">German</a>
                    <a href="./languages/japanese.html">Japanese</a>
                    <a href="./languages/portuguese.html">Portuguese</a>
                    <a href="./languages/hindi.html">Hindi</a>
                    <a href="./languages/bengali.html">Bengali</a>
                    <a href="./languages/urdu.html">Urdu</a>
                    <a href="./languages/punjabi.html">Punjabi</a>
                    <a href="./languages/malay.html">Malay</a>
                    <a href="./languages/swahili.html">Swahili</a>
                </div>
            </div>
            <a href="./contact.html">Contact Us</a>
        </div>
    </div>

    <header class="container">
        <h1>Our Services</h1>
    </header>

    <div class="container">
        <div class="ag-format-container">
            <div class="ag-courses_box">

                <div class="ag-courses_item">
                    <a class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>
                        <div class="ag-courses-item_title">
                            English
                        </div>
                    </a>
                </div>

                <div class="ag-courses_item">
                    <a class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>
                        <div class="ag-courses-item_title">Arabic</div>
                    </a>
                </div>

                <div class="ag-courses_item">
                    <a class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>
                        <div class="ag-courses-item_title">
                            Spanish
                        </div>
                    </a>
                </div>

                <div class="ag-courses_item">
                    <a class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>
                        <div class="ag-courses-item_title">
                            Russian
                        </div>
                    </a>
                </div>

                <div class="ag-courses_item">
                    <a class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>
                        <div class="ag-courses-item_title">
                            Chinese
                        </div>
                    </a>
                </div>

                <div class="ag-courses_item">
                    <a class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>
                        <div class="ag-courses-item_title">
                            Turkish
                        </div>
                    </a>
                </div>

                <div class="ag-courses_item">
                    <a class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>
                        <div class="ag-courses-item_title">
                            French
                        </div>
                    </a>
                </div>

                <div class="ag-courses_item">
                    <a class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>
                        <div class="ag-courses-item_title">
                            German
                        </div>
                    </a>
                </div>

                <div class="ag-courses_item">
                    <a class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>
                        <div class="ag-courses-item_title">
                            Japanese
                        </div>
                    </a>
                </div>

                <div class="ag-courses_item">
                    <a class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>
                        <div class="ag-courses-item_title">
                            Portuguese
                        </div>
                    </a>
                </div>
                <div class="ag-courses_item">
                    <a class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>
                        <div class="ag-courses-item_title">
                            Hindi
                        </div>
                    </a>
                </div>

                <div class="ag-courses_item">
                    <a class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>
                        <div class="ag-courses-item_title">Bengali</div>
                    </a>
                </div>

                <div class="ag-courses_item">
                    <a class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>
                        <div class="ag-courses-item_title">
                            Urdu
                        </div>
                    </a>
                </div>

                <div class="ag-courses_item">
                    <a class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>
                        <div class="ag-courses-item_title">
                            Punjabi
                        </div>
                    </a>
                </div>

                <div class="ag-courses_item">
                    <a class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>
                        <div class="ag-courses-item_title">
                            Malay
                        </div>
                    </a>
                </div>

                <div class="ag-courses_item">
                    <a class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>
                        <div class="ag-courses-item_title">
                            Swahili
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <footer>
        &copy; 2024 Dana Language Center. All rights reserved.
    </footer>

</body>

</html>